html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
}

#main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'settings inference inference result'
    'source inference inference result'
    'source view view result'
    'source view view result'
    '. view view result'
    '. view view result';
  gap: 1rem;
}

.settings-area {
  grid-area: settings;
}

.view-area {
  grid-area: view;
}

.inference-area {
  grid-area: inference;
}

.source-area {
  grid-area: source;
}

.result-area {
  grid-area: result;
}
